<!DOCTYPE html>
<html>
    <body>

        <h2> Lista das pessoas cadastradas até o momento: </h2>
        <table border = 1>
            <tr>
                <th>Primeiro nome</th>
                <th>Último nome</th>
            </tr>
            {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa['fname'] }}</td>
                <td>{{ pessoa['lname'] }}</td>
            </tr>
            {% endfor %}
        </table>

    <h2>HTML Forms</h2>

    <form action="/formulario" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit">
    </form> 

    </body>
</html>
